# Maven / Java
target/
*.class
*.log
*.jar
*.war
*.ear

# IntelliJ / VSCode / Cursor / Eclipse
.idea/
.vscode/
*.iml
.project
.settings/

# OS junk
.DS_Store
Thumbs.db

# Docker
*.env

#terraform
.terraform/
*.terraform.lock.hcl
*.tfvars
*.tfvars.json
!*.tfvars.example

#helm
charts/
Chart.lock

#cleanup
cleanup.txt
