apiVersion: v1
kind: LimitRange
metadata:
  name: default-limit-range
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
spec:
  limits:
    - default:
        cpu: "2"
        memory: "2Gi"
      defaultRequest:
        cpu: "500m"
        memory: "512Mi"
      type: Container
    - max:
        cpu: "8"
        memory: "16Gi"
      min:
        cpu: "100m"
        memory: "128Mi"
      type: Container

