apiVersion: v1
kind: ResourceQuota
metadata:
  name: default-resource-quota
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
spec:
  hard:
    requests.cpu: "40"
    requests.memory: 80Gi
    limits.cpu: "80"
    limits.memory: 160Gi
    persistentvolumeclaims: "30"
    pods: "200"
    services: "50"

