# Default values for bankingapp-services/gateway

deploymentName: gateway-deployment
serviceName: gateway
appLabel: gateway
appName: gateway

replicaCount: 2  # Recommended minimum for HA under LoadBalancer

global:
  aws:
    region: us-east-1
  configMapName: bankingapp-config
  springProfile: dev

image:
  repository: 063630846340.dkr.ecr.us-east-1.amazonaws.com/gateway
  tag: v1.0.0
  pullPolicy: IfNotPresent
  
networkpolicy:
  enabled: true
  allowFromServices:
    - cards
    - loans
    - accounts
  allowToServices:
    - cards
    - loans
    - accounts
  targetPorts:
    accounts: 8080
    loans: 8090
    cards: 9000

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 6
  cpu: 70
  memory: 70

containerPort: 8072
servicePort: 8072

ingress:
  enabled: true
  className: alb
  host: "banking.yonatan.cloud" #will add the EKS entrypoint after doing "terraform apply"
  
service:
  type: ClusterIP  # External entrypoint
  port: 8072
  targetPort: 8072
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: nlb  

# Feature toggles / health / tracing
appname_enabled: true
profile_enabled: true
config_enabled: false
discovery_enabled: false  
resourceserver_enabled: false  
otel_enabled: false

# Environment variables injected into the container
env:
  - name: AWS_REGION
    value: "us-east-1"
  - name: SPRING_PROFILES_ACTIVE
    value: "dev"

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

probes:
  liveness:
    path: /actuator/health/liveness
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 3
    failureThreshold: 3
  readiness:
    path: /actuator/health/readiness
    initialDelaySeconds: 10
    periodSeconds: 5
    timeoutSeconds: 3
    failureThreshold: 3
