name: Terraform Plan

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to plan'
        required: true
        type: choice
        options:
          - dev
          - stag
          - prod

concurrency:
  group: terraform-plan-${{ github.ref }}-${{ github.event.inputs.environment || 'all' }}
  cancel-in-progress: false

permissions:
  contents: read
  id-token: write
  pull-requests: write

env:
  AWS_REGION: us-east-1
  TERRAFORM_VERSION: 1.6.0
  TF_STATE_BUCKET: banking-terraform-state-18.10.25
  TF_LOCK_TABLE: terraform-locks
  AWS_ROLE: github_actions_terraform
  Artifacts_S3_Bucket: my-ci-artifacts55
  Artifacts_S3_Prefix: cloud-infrastructure
  Artifacts_Folder: collected-artifacts
  WORKFLOW_NAME: terraform-plan

jobs:
  detect-terraform-changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    outputs:
      terraform-changed: ${{ steps.filter.outputs.terraform }}
      dev-changed: ${{ steps.filter.outputs.dev }}
      stag-changed: ${{ steps.filter.outputs.stag }}
      prod-changed: ${{ steps.filter.outputs.prod }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Detect changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            terraform:
              - 'terraform/**'
            dev:
              - 'terraform/environments/dev/**'
            stag:
              - 'terraform/environments/stag/**'
            prod:
              - 'terraform/environments/prod/**'

  terraform-plan-dev:
    name: Plan Development
    runs-on: ubuntu-latest
    needs: detect-terraform-changes
    if: needs.detect-terraform-changes.outputs.dev-changed == 'true' || github.event.inputs.environment == 'dev'
    environment: dev
    outputs:
      plan-exists: ${{ steps.plan.outputs.plan-exists }}
      resource-add: ${{ steps.summary.outputs.resource-add }}
      resource-change: ${{ steps.summary.outputs.resource-change }}
      resource-destroy: ${{ steps.summary.outputs.resource-destroy }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup AWS + ECR
        uses: ./.github/actions/env-setup
        with:
          aws_role: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ env.AWS_ROLE }}
          aws_region: ${{ env.AWS_REGION }}
          
      - name: Setup Terraform
        uses: ./.github/actions/terraform-setup
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
          working_directory: terraform/environments/dev

      - name: Generate Terraform plan
        continue-on-error: true
        run: ./.github/scripts/13-terraform-plan.sh dev 

      - name: Upload plan artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tfplan-dev
          path: |
            terraform/environments/dev/tfplan-dev.txt
            terraform/environments/dev/tfplan-dev.bin
            terraform/environments/dev/tfplan-dev.json
          retention-days: 7


  terraform-plan-stag:
    name: Plan Staging
    runs-on: ubuntu-latest
    needs: detect-terraform-changes
    if: needs.detect-terraform-changes.outputs.stag-changed == 'true' || github.event.inputs.environment == 'stag'
    environment: stag
    outputs:
      plan-exists: ${{ steps.plan.outputs.plan-exists }}
      resource-add: ${{ steps.summary.outputs.resource-add }}
      resource-change: ${{ steps.summary.outputs.resource-change }}
      resource-destroy: ${{ steps.summary.outputs.resource-destroy }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup AWS + ECR
        uses: ./.github/actions/env-setup
        with:
          aws_role: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ env.AWS_ROLE }}
          aws_region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: ./.github/actions/terraform-setup
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
          working_directory: terraform/environments/stag

      - name: Generate Terraform plan
        continue-on-error: true
        run: ./.github/scripts/13-terraform-plan.sh stag 

      - name: Upload plan artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tfplan-stag
          path: |
            terraform/environments/stag/tfplan-stag.txt
            terraform/environments/stag/tfplan-stag.bin
            terraform/environments/stag/tfplan-stag.json
          retention-days: 7


  terraform-plan-prod:
    name: Plan Production
    runs-on: ubuntu-latest
    needs: detect-terraform-changes
    if: needs.detect-terraform-changes.outputs.prod-changed == 'true' || github.event.inputs.environment == 'prod'
    environment: prod
    outputs:
      plan-exists: ${{ steps.plan.outputs.plan-exists }}
      resource-add: ${{ steps.summary.outputs.resource-add }}
      resource-change: ${{ steps.summary.outputs.resource-change }}
      resource-destroy: ${{ steps.summary.outputs.resource-destroy }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup AWS + ECR
        uses: ./.github/actions/env-setup
        with:
          aws_role: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ env.AWS_ROLE }}
          aws_region: ${{ env.AWS_REGION }}
          
      - name: Setup Terraform
        uses: ./.github/actions/terraform-setup
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
          working_directory: terraform/environments/prod

      - name: Generate Terraform plan
        continue-on-error: true
        run: ./.github/scripts/13-terraform-plan.sh prod 

      - name: Upload plan artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tfplan-prod
          path: |
            terraform/environments/prod/tfplan-prod.txt
            terraform/environments/prod/tfplan-prod.bin
            terraform/environments/prod/tfplan-prod.json
          retention-days: 7

  Collect-Artifacts:
    runs-on: ubuntu-latest
    needs: [terraform-plan-dev, terraform-plan-stag, terraform-plan-prod]
    if: |
      always() &&
      (
        needs.terraform-plan-dev.result == 'success' ||
        needs.terraform-plan-stag.result == 'success' ||
        needs.terraform-plan-prod.result == 'success'
      )
    steps:
      - uses: actions/checkout@v3
      - name: Setup AWS + ECR
        uses: ./.github/actions/env-setup
        with:
          aws_role: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ env.AWS_ROLE }}
          aws_region: ${{ env.AWS_REGION }}
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: collected-artifacts/
      - name: Upload to S3
        run: ./.github/scripts/08-artifact_collect_and_s3.sh ${{ env.Artifacts_S3_Bucket}} ${{ env.Artifacts_S3_Prefix}} ${{ env.Artifacts_Folder}} ${{ env.WORKFLOW_NAME}}


